{{define "users/index.tmpl"}}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{/*加载静态文件*/}}
    <link rel="stylesheet" href="/xxx/index.css">
    <title>users template</title>
</head>
<body>
    Hello, {{.title | safe}}
    <script src="/xxx/index.js"></script>
</body>
</html>
{{end}}