<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Hello</title>
</head>
<body>
    <p>Age of {{ .u1.Name }} is {{ .u1.Age }}, and he say "{{ .u1.Say }}"!</p>
    <p>Age of {{ .u2.Name }} is {{ .u2.Age }}, and he say "{{ .u2.Say }}"!</p>
    {{/* a comment */}}
    <hr> 
    {{ $v1 := 100 }}
    {{ $age := .u2.age }}
    {{ $myName := "lyc" }}
    <hr>
    {{ if $v1 }}
    {{ $v1 }}
    {{ else }}
    nothing else
    {{ end }}
    <hr>
    {{ if lt .u1.Age 18 }}
    study
    {{ else }}
    work
    {{ end }}
    <hr>
    {{ range $idx, $hobby := .hobby }}
        <p>{{ $idx }} - {{ $hobby }}</p>
    {{ else }}
        no hobby
    {{ end }}
    <hr>
    <p>self define function</p>
    {{ myFun .u1.Name }}
</body>
</html>