<!--
 * @Author: Liu Yuchen
 * @Date: 2021-03-31 15:22:50
 * @LastEditors: Liu Yuchen
 * @LastEditTime: 2021-03-31 15:29:06
 * @Description: Say Something, Motherfuncker
 * @FilePath: /Local_Lab/goStudy/gin_demo/L7_change/template/xss.html
 * @GitHub: https://github.com/liuyuchen777
-->

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>xss2</title>
</head>
<body>
    <p>comment from user: {{.}}</p>
    <p>
        <a href='http://liuyuchen777.github.io'>liuyuchenBlog</a>
    </p>
</body>
</html>